<!DOCTYPE html>
<html>

<head>
	<title>Avoid The Bin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
	<ul>
		{% for item in nav.top %}
		<li class="{{ 'active' if item.is_active else '' }}">
			<a href="{{ item.url }}">{{ item.label }}</a>
		</li>
		{% endfor %}
		<li class=‘special’>
                <a href="/login" class=‘btn btn-default’>Log in</a>
            </li>
	</ul>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover {
			background-color: #111;
		}
	</style>



	<div class="jumbotron text-center">
		<div class="col-sm-12 ">
				<h1>Avoid The Bin</h1>
		</div>
	</div>

	<section class="text-center" id="mission">
		<div class="container container-text bg-grey">
			<div class="row">
				<div class='col-sm-12'>
					<h2>We are on a mission to reduce the amount of waste that ends up in the bin...</h2>
					<h3>1.9 million tonnes of food is wasted by the food industry every year in the UK</h3>
					<h3>250,000 tonnes of the food that goes to waste each year is still edible</h3>
					<h2>So why not get involved and sign up now!</h2>
					<img class="img-responsive" src="{{ url_for('static', filename='images/foodwaste.png')}}">
				</div>
			</div>
		</div>
	</section>

	<section class="text-center" id="nearby">
		<div class="container container-text">
			<div class="row">
				<div class='col-sm-6 bg-purple'>
					<h2>Got something you want to Avoid The Bin?</h2>
					<p>It's really quick to add your leftover item. </p>
					<p>Simply add your details to the form. </p>
					<p>And it's done! It's available for someone to pick up! </p>
					<a href="/listit" class="btn btn-default">Click here to List It</a>		
					<br>
					<br>
					<img class="img-responsive" src="{{ url_for('static', filename='images/farm_shop.png')}}">
					<br>
					<br>
					<h2>See what's available near you. </h2>
					<p>It's super easy to find items near you!</p>
					<p>Just select the item you want.</p>
					<p>Then find the item close to you. </p>
					<p>The pick up the item to Avoid The Bin!</p>
					<a href="/listed" class="btn btn-default">Click here to find available items</a>
				</div>
				<div class='col-sm-6'>
					<a class="twitter-timeline" href="https://twitter.com/avoidthebin?ref_src=twsrc%5Etfw">Tweets by avoidthebin</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
	</div>
</section>

<div id='social-buttons' class='text-center'>
	<button class="btn btn-lg btn-twitter">Twitter</button>
	<button class="btn btn-lg btn-facebook">Facebook</button>
	<button class="btn btn-lg btn-instagram">Instagram</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script tpye="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>
