<!DOCTYPE html>
<html>

<head>
	<title>Avoid The Bin</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>

<body>
	<ul>
		{% for item in nav.top %}
		<li class="{{ 'active' if item.is_active else '' }}">
			<a href="{{ item.url }}">{{ item.label }}</a>
		</li>
		{% endfor %}
	</ul>

	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover {
			background-color: #111;
		}
	</style>

	
	<div class="jumbotron text-center">
		<div class="col-sm-12 ">
			<h1>Thanks for helping to Avoid The Bin!</h1>
		</div>
	</div>	

	<section class="text-center" id="thanks">
		<div class="container container-text">
			<p> Thanks! We have emailed you both to arrange the collection of your item!</p>
		</div>
	</section>

</body>
</html>
